.venv/
train/.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
datasets/
outputs/
wandb/
logs/
.env
Lightwheel_Xx8T7EPOMd_KitchenRoom/
lightwheel_toyroom/
assets/toy_sorting/
so_arm101/
.gitignore
.cache/
*.egg-info/
